*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-w:#fff;
    --color-gainsborough: #ddd;
    --color-herbal-green:#35682D;
    --color-brown-burgundy:#A52A2A;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bacraund{
    width: 1020px;
    height: auto;
    background-image: url(./img/bac.jpg);
    background-repeat: no-repeat;
}

.information-panel{
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
}

.icon{
    width: auto;
    height: 40px;
}

#time,#money,#dishes-prepared{
    display: flex;
    align-items: center;
}

.field-of-play{
    padding: 10px 30px;
    display: none;
}

.cooking-table{
    background-image: url(./img/patern-table.jpg);
    background-repeat: repeat;
}

.start-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-w);
    padding: 20px;
    border: 1px solid var(---color-gainsborough);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.start-window h1 {
    text-align: center;
    margin-bottom: 20px;
}

.start-button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-herbal-green);
    color: var(--color-w);
}
.santa{
    position: absolute;
    top: 40%;
    left: 500px;
    transform: translate(-50%, -50%);
}

.Santa{
    width: 500px;
    height: auto;
}

#exit-button {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-brown-burgundy);
    color: var(--color-w);
}

.end-window{
    display: none;
}
