*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
}

.bacraund{
    background-image: url(./img/bac.jpg);
    background-repeat: no-repeat;
}

.cooking-table{
    background-image: url(./img/patern-table.jpg);
    background-repeat: repeat;
}